h1=''
    div(class="col-md-4 col-md-offset-4")
     table(class="table table-striped"
            aling = 'center')
        thead()
            tr
                th
                 button(type="button" onclick="location.href='/users/balance'" class="btn btn-primary ")='Mostrar Balance'
                th
                 button(type="button" onclick="location.href='/users/item'" class="btn btn-primary")='Nuevo Pago'
                th
                 button(type="button" onclick="location.href='/users/shUser'" class="btn btn-primary")='Usuarios'
                                                                                  
                th
                 button(type="button" onclick="location.href='/'"  class="btn btn-primary")="Regresar"
  
div(class="col-xs-12 col-md-8")
    h1='Hola... '+ user.nombre  +" eres el admin "        

