extends ../templates/default
include ../templates/nav
block content
    div(class='row')
        div(class="col-md-4 col-md-offset-0")
            h1(aling = "center")='Condominos Registrados'
                
                table(class="table table-striped")
                    thead(bgcolor="darkcyan")
                        tr
                            td    Mes
                            td Seguridad
                            td Basura
                            td Limpieza de Á.C.
                            td Alumbrado de Á.C.
                            td Limpieza tinacos
                            td Pago Administrador
                            td Total
                    tbody(bgcolor="cyan" )
                        each item, i in items
                            td= item.mes
                            td= '$'+item.seguridad
                            td= '$'+item.basura
                            td= '$'+item.limpieza
                            td= '$'+item.luz
                            td= '$'+item.tinacos
                            td= '$'+item.pago
                            td= '$'+item.total
                             tr
               
           
                        
            button(type="button" onclick="location.href='/users/panel'" name="boton" class="btn btn-primary")="Regresar"