extends ../templates/default
include ../templates/nav
block content
    div(class="col-md-10 col-md-offset-1")
        h2='Lista de Usuarios Registrados'
        table(class="table table-striped"
            aling = 'center')
            thead(bgcolor="darkcyan")
                tr
                    th # Depto
                    th Nombre
                    th Email
                    th Seguridad
                    th Recolección de Basura
                    th Limpieza de Areas Comunes
                    th Alumbrado de Areas Comunes
                    th Limpieza de tinacos
                    th Pago Administrador
                    th Total
            tbody(bgcolor="cyan" )
                each item, i in items
                    tr
                        td= item._id
                        td= item.nombre
                        td= item.email
                        td= '$'+item.Seguridad
                        td= '$'+item.RecoleccionBasura
                        td= '$'+item.LimpiezaComunes
                        td= '$'+item.AlumbradoComunes
                        td= '$'+item.Limpiezatinacos
                        td= '$'+item.PagoAdministrador
                        td= '$'+item.total
                        
            div(class="col-md-4 col-md-offset-4")
                table(class="table table-striped"
                        aling = 'center')
                    thead()
                        tr
                            th
                                button(type="button" onclick="location.href='/users/panel'"  class="btn btn-primary")="Regresar"
