extends ../templates/default

block content
  div(class='row')
    div(class='col-md-6 col-md-offset-3')
      div(class='panel panel-default')
        div(class='panel-heading')='Registrarme'
          div(clas= 'panel-body')
            form(action='auth/signup' method='post' autocomplete='off')
              div(class='form-group')
                label(for="email")='Email'
                input(required type='email' name='email' id='email' placeholder='Email' class='form-control')
              div(class='form-group')
                label(for="nombre")='Nombre'
                input(required type='text' name='nombre' id='nombre' placeholder='Nombre' class='form-control')
              div(class='form-group')
                label(for="password")='Password'
                input(required type='password' name='password' id='password' placeholder='Password' class='form-control') 
              div(class='form-group')
                label(for="depto")='Departamento'
                input(required type='number' name='_id' id='_id'  min="0" max="10000" step="1" placeholder='No. de Departamento' class='form-control')  
              button(type="submit" class="btn btn-primary")='Registrarme'